    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/public/images/bbc-logo.jpg" class="rounded-circle" > Burlington Badminton</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{#if navHome}}active{{/if}}">
            <a class="nav-link" href="/">Home</a>
            <!-- <span class="sr-only">(current)</span> -->
          </li>
          <li class="nav-item {{#if navLeague}}active{{/if}}">
            <a class="nav-link" href="/league/1">League</a>
          </li>
          <li class="nav-item {{#if navMatches}}active{{/if}}">
            <a class="nav-link" href="/matches/1">Matches</a>
          </li>
          <li class="nav-item {{#if navScore}}active{{/if}}">
            <a class="nav-link" href="/matches/score">Referee</a>
          </li>
        </ul>
      </div>
    </nav>