  <div class="container">
    <h2>Round {{match.round}} Group {{match.group}} Match</h2>
      <form>
      <div class="table-responsive text-center">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td></td>
              <td>{{match.team1Name}}</td>
              <td>{{match.team2Name}}</td>
            </tr>
            {{#if match.winner}}
              <tr>
                <td>Set 1</td>
                <td>{{match.team1game1}}</td>
                <td>{{match.team2game1}}</td>
              </tr>
              <tr>
                <td>Set 2</td>
                <td>{{match.team1game2}}</td>
                <td>{{match.team2game2}}</td>
              </tr>
              {{#if match.team1game3}}
                <tr>
                  <td>Set 3</td>
                  <td>{{match.team1game3}}</td>
                  <td>{{match.team2game3}}</td>
                </tr>
              {{/if}}
            {{else}}
              <tr>
                <td>Set 1</td>
                <td><input type="text" name="team1game1" maxlength="2" size="2" class="form-control" /></td>
                <td><input type="text" name="team2game1" maxlength="2" size="2" class="form-control" /></td>
              </tr>
              <tr>
                <td>Set 2</td>
                <td><input type="text" name="team1game2" maxlength="2" size="2" class="form-control" /></td>
                <td><input type="text" name="team2game2" maxlength="2" size="2" class="form-control" /></td>
              </tr>
              <tr>
                <td>Set 3</td>
                <td><input type="text" name="team1game3" maxlength="2" size="2" class="form-control" /></td>
                <td><input type="text" name="team2game3" maxlength="2" size="2" class="form-control" /></td>
              </tr>
            {{/if}}

          </tbody>
        </table>
          {{#if match.winner}}
          {{else}}
            {{#if isLoggedIn}}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gameOverModal">Game Over</button>
            {{/if}}
          {{/if}}
      </div>
      <form>
  </div>

{{#if isLoggedIn}}
  <!-- Modal -->
  <div class="modal fade" id="gameOverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Confirm Game Over</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <p><span class="mdlRefree">Binu</span>, Please comnirm that <span class="mdlWinner">Vijay & ANu</span> won the match with a score of <span class="mdlWinner">(21-12) (14-21) (22-30)</span>. This cannot be changed.</p>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="btnGameOverCancel" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" id="btnGameOverConfirm" >Confirm</button>
      </div>
    </div>
    </div>
  </div>
{{/if}}