<div class="container">
  <div class="row bg-secondary text-uppercase">
    <div class="col">
    Round 1 starting Nov 18 @
    </div>
  </div>
  <div class="row">
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2952.146112845347!2d-71.5635090850981!3d42.275404279192664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e475501c29e6c1%3A0x9bfc36368d488d88!2sBoston+Badminton!5e0!3m2!1sen!2sus!4v1510852927430" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
    
<div class="container">
  <div class="row bg-secondary text-uppercase">
    <div class="col">
		Updates
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fburlingtonbadminton&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=1945226609073751" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
</div>

<div class="container">
  <div class="row bg-secondary text-uppercase">
    <div class="col">
		Our Sponsors
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
    	<img src="https://s3.amazonaws.com/ppaul/bbc/assets/images/adonai.jpg" class="img-fluid" alt="Adonai Tours">
    </div>
    <div class="col-sm">
      	<img src="https://s3.amazonaws.com/ppaul/bbc/assets/images/auto.jpg" class="img-fluid" alt="Cambridge Street Auto Repair">
    </div>
    <div class="col-sm">
      	<img src="https://s3.amazonaws.com/ppaul/bbc/assets/images/grace.jpg" class="img-fluid" alt="Grace Real Estate">
    </div>
    <div class="col-sm">
      	<img src="https://s3.amazonaws.com/ppaul/bbc/assets/images/chitram.jpg" class="img-fluid" alt="Chitram TV">
    </div>
    <div class="col-sm">
      	<img src="https://s3.amazonaws.com/ppaul/bbc/assets/images/movies.jpg" class="img-fluid" alt="RI Malayalam Movies">
    </div>
  </div>
</div>